<div *ngIf="!isAuthenticated">
  <div id="container__login">
    <section id="login__left" class="left">
      <app-login-form
        (loginFormEmitter)="submitLoginForm($event)"
        [error]="error"
      ></app-login-form>
    </section>
    <section id="login__right" class="right">
        <app-subscription-form
          (subscriptionFormEmitter)="submitSubscriptionForm($event)"
        ></app-subscription-form>
    </section>
  </div>
</div>
<div *ngIf="isAuthenticated">
  Vous êtes déjà connecté :)
</div>

