.todo {
  display: flex;
  clear: both;
  margin-bottom: 20px;
  section{
    display: flex;
    .name{
      width: 80px;
      height: 40px;
      font-weight: bold;
      padding: 2px 10px;
    }
    .status {
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      border-radius: 5px;
      padding: 5px 10px;
      height: 20px;
      margin-left: 10px;
      color: white;
      font-weight: bold;

      &.done {
        background-color: greenyellow;
      }

      &.todo {
        background-color: cornflowerblue;
      }

      &.progress {
        background-color: darkseagreen;
      }

      &.notStarted {
        background-color: coral;
      }
    }
  }
}
