// page backgrounds
$app-background-color: #d4ecff;

// button colors
$button-background-color: #5abdf8;
$button-hover-background-color: rgba(1,1,1,0);
$button-text-color: white;
$button-text-hover-color: #515151;

// link
$link-color: #697869;
$link-color-hover: $button-background-color;
