<form class="form" [formGroup]="todoForm" (ngSubmit)="submitForm()">
  <div class="form_input">
    <div class="label">
      <label for="name">Nom de la tâche : </label>
    </div>
    <input formControlName="name" name="name" type="text">
  </div>
  <div class="form_input">
    <div class="label">
      <label for="description">Description de la tâche : </label>
    </div>
    <input formControlName="description" name="description" type="text">
  </div>
  <button type="submit">
    Enregistrer
  </button>


</form>
