/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'style/color';

/* general properties */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: $app-background-color;
  font-family: 'Roboto', sans-serif;
}

/* special properties */
.left{
  float: left;
}

.right{
  float: right;
}

/* form style */
.form{
  background-color: $app-background-color;
  width: 350px;
  margin: 70px auto;
  padding: 30px 50px;
  h2, h3{
    padding: 10px 20px;
  }
  .form_input{
    .label{
      margin-bottom: 5px;
    }
    margin: 20px auto;
    width: 80%;
    input, select{
      height: 40px;
      width: 100%;
      padding: 5px 15px;
      box-sizing: border-box;
      border: none;
      box-shadow: 1px 1px 1px #1f2833;
    }
    .error{
      background-color: red;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
    .form_input_error{
      position: relative;
      background-color: red;
      color: white;
      padding: 10px;
      margin-top: 6px;
      font-size: 14px;
      .triangle{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid red;
        position: absolute;
        top: -5px;
        left: 19px;
      }
    }
  }
}
