<form class="form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <h2>Login</h2>
  <app-error
    [error]="error"
  ></app-error>
  <div class="form_input">
    <div class="label">
      <label for="email">email : </label>
    </div>
    <input formControlName="email" name="email" type="email">
  </div>
  <div class="form_input">
    <div class="label">
      <label for="password">password : </label>
    </div>
    <input formControlName="password" name="password" type="password">
  </div>
  <app-button
    [typeValue]="'submit'"
    [form]="loginForm"
  ></app-button>
</form>


